{% extends  "demo/base.html" %}
{% block content %}

<div class="card">
    <div class="card-header">
        Coordonnées
        <a href= "{% url 'update_personne' personne.id %}" class="close">
            <i class="fas fa-pen"></i>
        </a>
    </div>
    <div class="card-body">
        
        <div class="row">
            <div class="col">
                <strong> Nom </strong> : {{personne.nom}} <br>
            </div>
            <div class="col">
                <strong> Prénom </strong> : {{personne.prenom}} <br>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <strong> Adresse mail </strong> : {{personne.email}} <br>
            </div>
            <div class="col">
                <strong> Téléphone </strong> : {{personne.telephone}} <br>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <strong> Adresse </strong> : {{personne.get_adresse_complete_str}} <br>
            </div>
            <div class="col">
                <strong> Commentaire </strong> : {{personne.commentaire}} <br>
            </div>
        </div>

    </div>
</div>
   
{% endblock %}