{% extends  "demo/base.html" %}
{% block content %}

<div class="table-responsive-sm p-4">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Adresse</th>
                <th scope="col">Téléphone</th>                
            </tr>
        </thead>
        <tbody>
            {% for personne in personne_list %}
                <tr class="table-info">                
                    <td><a href = "{% url 'detail_personne' personne.id %}">{{personne.nom}}</a></td>
                    <td>{{personne.prenom}}</td>
                    <td>{{personne.get_adresse_complete}}</td>
                    <td>{{personne.telephone}}</td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>        

    <div class="pagination">
        {% if personne_list.has_previous %}
        <a href="{% url	'personnes' %}?page={{ personne_list.previous_page_number}}">Précédente</a>
        {% endif %}

        <span class="current">
            Page {{ personne_list.number }} sur {{ personne_list.paginator.num_pages }}
        </span>

        {% if personne_list.has_next %}
        <a href="{% url 'personnes' %}?page={{ personne_list.next_page_number}}">Suivante</a>
        {% endif %}
    </div>
    
    <div class="text-right">
        <a href= "{% url 'create_personne' %}" class="btn btn-info">Ajouter une personne</a>
    </div>|

</div>



{% endblock %}